* { margin: 0; padding: 0; box-sizing: border-box;}
body { font-family: Arial, Helvetica, sans-serif; }

.headerpart {  background-color: blueviolet; width: 100%; padding: 20px; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; }
.headerpart h1 { text-align: center; color: #fff; font-size:30px;  }
.headerpart p {color: #fff; font-size:16px; }
.headerpart p a { color: #fff;  }

.headnav { background-color: rgb(39, 1, 82); display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; width: 100%; padding:10px 20px; box-sizing: border-box; display: flex; justify-content: space-end; align-items: center; flex-wrap: wrap; color: #fff; font-size:16px; }
.headnav a { color: #fff;  }

.footerpart {  background-color: blueviolet;  box-sizing: border-box; width: 100%; padding: 20px; }
.footerpart p {text-align: center; color: #fff; font-size: 16px; width: 100%; }
 

.sectionmin { background-color: #fff; width: 100%; padding: 20px 20px 40px 20px;  }

.mainheading {width: 100%; padding: 30px 0 10px 0; text-align: center; color: #000; font-size:30px;  }
.maintext {width: 100%;  padding:0px 0px 20px 0px; text-align: center; color: #7c7b7b; font-size:16px;  }
.maintext a {text-decoration: underline;color: #ec0808; }
.maintext a:hover {  text-decoration: none;  color: #000000; }
.mainError {text-align: center; color: #ec0808; font-size: 16px; width: 100%; }
.backto { text-align: left; color: blueviolet; font-size: 16px; width: 100%; margin-bottom: 20px; }
 
.sortcontrols {text-align: right; margin:10px 0 20px 0; font-size: 16px; width: 100%;  display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; }
.sortcontrols h5 {width:50%;  padding:0px 0px 20px 0px; text-align: left; color: #7c7b7b; font-size:16px;  }
.sortcontrols h5 a { text-decoration: underline;color: #ec0808; }
.sortcontrols h5 a:hover {  text-decoration: none;  color: #000000; }
.sortcontrols p { width:50%;   text-align: right; color: #7c7b7b; font-size:16px;   }
.sortcontrols p b { color: #000; }
.sortcontrols p a { text-decoration: none; color: #999999; }
.sortcontrols p a.active { color: #ec0808; }

.record_list { border: 1px solid; padding:10px 20px; margin-bottom: 10px; width: 100%; display: flex; justify-content:flex-start; align-items: center; gap:20px; }
.record_list.disabled { background: #ddd; border-color: #999; }
.record_list.enabled { background: #fff; border-color: #ccc;  }
.record_list img { width: 100px; border: 1px solid #ddd; padding: 5px; }
.record_list p {  text-align: left; color: #7c7b7b; font-size:16px;   }
.record_list aside { width:auto; display: flex; flex-wrap: wrap; justify-content: flex-end; gap: 10px; align-items:flex-start; }

.pagingcontrols {text-align: center; margin:30px 0 10px 0;  font-size: 16px; width: 100%; }
.pagingcontrols b, .pagingcontrols a { width:auto; padding: 5px 10px; text-align: center; margin: 0 3px; }
.pagingcontrols b { background-color: #f30; color: #fff; }
.pagingcontrols a { text-decoration: none; background-color: #ccc; color: #000;  }

.bashboardinfo { border: 1px solid #ccc; padding:20px ; margin-top: 30px; width: 100%; gap:20px; display: flex; justify-content:flex-start; flex-wrap: wrap; flex-direction: column; }
.bashboardinfo p { text-align: left; color: rgb(44, 44, 44); font-size: 16px; }

.formpart { width: 100%; padding:20px 0; display: flex; flex-direction: column; gap:20px; }
.formpart aside {text-align: center;  font-size: 16px; width: 100%; padding: 10px;  border: 1px solid; margin: 10px 0; }
.formpart aside.errormessage { background: #ffdddd; color: #ff0000; border-color: #ff9090; }
.formpart aside.successmessage { background: #d4edda; color: #155724;  border-color: #a5fab9; }
.formpart aside.infomessage { background: #fffea8; color: #155724;  border-color: #e0dd03; }
.formpart span.error { width: 100%; margin: 5px 0 10px 0; text-align: left; color: #f30; font-size:14px;  }
.formpart label { padding: 0 0 10px 0; margin: 0;  color: #000; font-size: 16px; width: 100%; }
.formpart input, select { margin: 10px 0 10px 0; padding: 10px 15px;  color: #000; font-size: 16px; width: 100%; }
.formpart button{  display: inline-block;  padding: 10px 25px;  background-color: #007bff;  font-size: 16px;  color: white;  border: none;  text-decoration: none;  border-radius: 4px;  cursor: pointer; }
.formpart button:hover { background-color: #0056b3; }

.btn { display: inline-block; padding: 6px 12px; background-color: #007bff; color: white; border: none; text-decoration: none; border-radius: 4px; cursor: pointer; }
.btn:hover { background-color: #05376d; color: white; }
.btn-delete { padding: 8px 15px; background-color: #f34a5b;}
.btn-delete:hover {  background-color: #9c0010;}
.btn-disabled { background-color: #585858; }
.btn-disabled:hover {  background-color: #c82333;}
.btn-update { margin: 0 0 10px 10px;  padding: 10px 25px; float: right; }
.btn-back { margin:0px 0 10px 0;  padding: 8px 20px; float: left; background-color: #585858; color: #fff;  }
.btn-back:hover { background-color: #f34a5b; }


.formLoader { z-index: 9; width: 100%; height: 100%; position: fixed; left: 0; top: 0; background:rgba(0,0,0,0.5); }
.btnLoader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #333;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.6s linear infinite;
    display: none;
    margin-left: 8px;
    vertical-align: middle;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .btnForm:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }