<!DOCTYPE html>
<html>
<head>
  <title>Log Dates</title>
</head>
<body>
  <h1>Available Log Dates</h1>
  <ul>
    <% availableDates.forEach(date => { %>
      <li>
            <%= date %>
            <a href="/logs-report?date=<%= date %>">View</a>
        |   <a href="/logs-download?date=<%= date %>">Download</a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
