<!DOCTYPE html>
<html>
<head>
  <title>User Dashboard</title>
</head>
<body>
<%- include('../partials/header') %>
<section class="sectionmin">
    <h1 class="mainheading">User Dashboard</h1>
     <p>
        User Seesion ID is -
        <%= userSessionId %>
    </p>
</section>
<%- include('../partials/footer', { title: 'EMP Management System' }) %>
</body>
</html>
